<div id="head-splash">
  <div class="blur-splash">

  </div>
  <div class="splash">
      <div class="splash-header">
          <a routerLink="/auth/login" class="sh-text">Login</a>
      </div>
      <div class="splash-footer">
          <p class="sf-text">
              Aaditya Chakravarty {{ date }}
          </p>
      </div>
      <div class="wrapper">
          <p class="wrap-head">
              Welcome to One Citizen.
          </p>
          <button routerLink="/auth/register" class="enroll">
              Enroll Now
          </button>
      </div>
  </div>
</div>